In [168]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
from sklearn.metrics import mean_squared_error, f1_score, accuracy_score, roc_curve, roc_auc_score
from sklearn.model_selection import train_test_split
from matplotlib import pyplot as plt

In [169]:
np.set_printoptions(edgeitems=3,infstr='inf',
                    linewidth=200, nanstr='nan', precision=3,            
                    suppress=True, threshold=1000, formatter=None)

Задание 3.7.2  
Добавьте к признакам нелинейной модели квадрат признака DIS и переобучите модель. Какой получился RMSE? Подсказка: используйте написанную нами линейную регрессию методом матричных операций.
Ответ округлите до сотых. Пример ввода: 5.55.  
Answer 3.69

In [170]:
# просто посмотреть_1
data = load_boston()
data_pd = pd.DataFrame(data.data,columns=data.feature_names)
data_pd.head(5)

c:\Users\ampmm\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np

        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.
  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [171]:
# подготовка данных
y=data['target']
X=data['data']
X=np.hstack((X, np.square(X[:,7]).reshape(X.shape[0],1)))
#-------------------------------------
# Нормализовать даннные с помощью стандартной нормализации
# X = (X - X.mean(axis=0)) / X.std(axis=0)
# # Добавить фиктивный столбец единиц (bias линейной модели)
# X = np.hstack([np.ones(X.shape[0])[:, np.newaxis], X])
#-------------------------------------

In [172]:
np.square(4) # 16

16

In [173]:
np.power(4,2) # 16

16

In [174]:
4**2 #16

16

In [175]:
# # просто посмотреть_2
data_pd_chek=pd.DataFrame(np.array(X),columns=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT','DIS^2'])
data_pd_chek.head(5)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,DIS^2
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,16.728100
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,24.672082
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,24.672082
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,36.750269
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.750269

In [176]:
def linreg_linear(X, y):
    theta = np.linalg.inv(X.transpose().dot(X)).dot(X.transpose()).dot(y)    
    return theta

In [177]:
# Вычислить параметр theta
theta = linreg_linear(X, y)

In [178]:
# Сделать предсказания для тренировочной выборки
y_pred = X.dot(theta)

In [179]:
mse = mean_squared_error(y, y_pred)
rmse = np.sqrt(mse)
print(f'MSE = {mse:.2f}, RMSE = {rmse:.2f}') # MSE = 20.74, RMSE = 4.55

MSE = 24.07, RMSE = 4.91

In [180]:
Xst,yst=data['data'],data['target']

In [181]:
from sklearn.linear_model import LinearRegression
predictor = LinearRegression()
predictor.fit(Xst, yst)                  
y_pred = predictor.predict(Xst)

In [183]:
mse = mean_squared_error(yst, y_pred)
rmse = np.sqrt(mse)
rmse = np.sqrt(mse)
print(f'MSE = {mse:.2f}, RMSE = {rmse:.2f}') # MSE = 21.89, RMSE = 4.68

MSE = 21.89, RMSE = 4.68